</main>
<footer class="position-fixed bottom-0 bg-info w-100">
    <div class="row mx-0">
        <div class="col-3 offset-9">
            <h2>Codelandia MERN Team</h2>
        </div>
    </div>
</footer>
</div>
</body>
</html>